terraform/envs/local/terraform.tfvars
terraform/envs/local/.terraform/
terraform/envs/local/.terraform.lock.hcl
terraform/envs/local/terraform.tfstate
terraform/envs/local/terraform.tfstate.backup
terraform/envs/local/tfplan
*.env
.env
secrets/
